@page
@model IndexModel
@{
    ViewData["Title"] = "Page d'acceuil";
}
    <head>
        <meta charset="utf-8" />
        <title>Menu</title>
        <link rel="stylesheet" href='/css/site.css' type="text/css" />
    </head>
    <body>
        <div calss="Header">
            <div id="menu">
                <ul>
                    <li>
                        <a href="#">Atelier</a>
                        <ul>
                            <li><a href="Produit/Produit_fichier">Produit</a></li>
                            <li><a href="#">Link 2</a></li>
                            <li><a href="#">Link 3</a></li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">Tables de reference</a>
                        <ul>
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 4</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </body>
    
